# ------------------------
# Server
# ------------------------
NODE_ENV=development
PORT=5001
CORS_ORIGIN=http://localhost:5000

# ------------------------
# Logging
# ------------------------
# production = info (show info + warn + error)
# staging = http (show http + info + warn + error)
# development = debug (show everything)
LOG_LEVEL=debug

# ------------------------
# Database (PostgreSQL)
# ------------------------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=42pym2Ljg45Hb2TB
POSTGRES_DB=auth
POSTGRES_HOST=localhost   # ← was 'db', must be localhost for local dev
POSTGRES_PORT=5432


# DATABASE_URL will be constructed dynamically in code for dev/test
# Keep it optional here
DATABASE_URL=postgresql://postgres:42pym2Ljg45Hb2TB@localhost:5432/auth

# ------------------------
# JWT Configuration
# ------------------------
ACCESS_TOKEN_SECRET=csdfDFAFDjasdf-sfasdfaskjfdlajsdflajlskdfjdasfjalksdjflkaskjkdds
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_SECRET=dfjklsdfjlkajls-sadfjasldfjalksjdflkajsfdkajDFASDFADFAsdfadsafa
REFRESH_TOKEN_EXPIRY=7d

# ------------------------
# Redis (optional, for caching or token storage)
# ------------------------
REDIS_HOST=localhost
REDIS_PORT=6381
REDIS_PASSWORD=authServiceredispassword
REDIS_URL=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}

# ------------------------
# Cloudinary integrations (optional)
# ------------------------
CLOUDINARY_CLOUD_NAME=sachin-portfolio
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


# Kafka connection
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=auth-service
KAFKA_GROUP_ID=user-service-group

# Optional for auth
KAFKA_USERNAME=myuser
KAFKA_PASSWORD=mypassword
KAFKA_SSL_ENABLED=false

