services:
  db:
    extends:
      file: docker-compose.yml
      service: db
    env_file: .env
    restart: unless-stopped # Automatically restarts if crashed

  api:
    extends:
      file: docker-compose.yml
      service: api
    env_file: .env
    environment:
      NODE_ENV: production
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    restart: unless-stopped
    ports:
      - "80:5000"
    command: ["node", "dist/server.js"]
