services:
  db:
    image: postgres:16
    container_name: blog_auth_postgres
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: docker/DockerFile
    container_name: blog_auth_api
    restart: unless-stopped
    env_file:
      - .env
    environment:
      NODE_ENV: production
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      KAFKA_BROKER: kafka:9092
      KAFKA_CLIENT_ID: auth-service
      KAFKA_GROUP_ID: user-service-group
    ports:
      - "80:5000"
    depends_on:
      db:
        condition: service_healthy
      kafka:
        condition: service_healthy
    command: ["node", "dist/index.js"]

  kafka:
    image: confluentinc/cp-kafka:7.9.1
    container_name: blog_auth_kafka
    restart: unless-stopped
    ports:
      - "9092:9092"
    environment:
      # KRaft mode config (works without Zookeeper)
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_NODE_ID: "1"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_LOG_DIRS: "/kafka-logs"
    volumes:
      - kafka-data:/kafka-logs
    healthcheck:
      test: ["CMD-SHELL", "kafka-topics --bootstrap-server localhost:9092 --list"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  dbdata:
  kafka-data:
