services:
  db:
    image: postgres:16
    container_name: blog_auth_postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: docker/DockerFile
    container_name: blog_auth_api
    restart: always
    ports:
      - "5001:5001"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

volumes:
  dbdata:
